{% extends 'cars/base.html' %}

{% block title %}Add Car{% endblock %}
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
{% endif %}
<form action="." method="post">
    {% csrf_token %}
    <p>
        <label for="buyer_name">Name</label>
        <input type="text" name="buyer_name" maxlength="100" required id="buyer_name">
    </p>
    <p>
        <label for="buyer_contact">Contact No.</label>
        <input type="text" name="buyer_contact" maxlength="100" required id="buyer_name">
    </p>
    <input type="submit" name="buycar_submit" value="BUY" />
</form>
{% endblock %}
