<html>
<head></head>
<body>
    <p> Seller/Vehicle Details:
        <table>
            <tr>
                <td>Seller Name</td>
                <td>{{seller_name}}</td>
            </tr>
            <tr>
                <td>Seller Contact</td>
                <td>{{seller_mob}}</td>
            </tr>
            <tr>
                <td>Make</td>
                <td>{{make}}</td>
            </tr>
            <tr>
                <td>Model</td>
                <td>{{model}}</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{year}}</td>
            </tr>
            <tr>
                <td>Condition</td>
                <td>{{condition}}</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>{{price}}</td>
            </tr>
        </table>
    </p>
    <hr/>
    <p> Buyer Details:
        <table>
            <tr>
                <td>Buyer Name</td>
                <td>{{buyer_name}}</td>
            </tr>
            <tr>
                <td>Buyer Contact</td>
                <td>{{buyer_contact}}</td>
            </tr>
        </table>
    </p>
    <hr/>
    <p> Other details:
        <table>
            <tr>
                <td>Commission(5%)</td>
                <td>{{commission}}</td>
            </tr>
            <tr>
                <td>Payable amount to seller</td>
                <td>{{final_amount}}</td>
            </tr>
        </table>
    </p>
</body>

</html>
